.grid {
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* justify-items, align-itmes: grid container(father)에 있는 속성 */
  
  /* 수평 속성 */
  /* default: strecth: 모든 grid container는 자식을 가지고 있고 그 자식들을 늘려서 본인을 채우게 한다 */
  /* justify-items: stretch; */
  /* justify-items: end; */
  
  /* 수직 속성 */
  /* default: strecth */
  /* align-items: end; */

  /* short cut: place-items: y x */
  place-items: stretch center;
}

.header {
  background-color: #2ecc71;
}

.content {
  background-color: #3498db;
}

.nav {
  background-color: #8e44ad;
}

.footer {
  background-color: #f39c12;
}