.father {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 300px;
  height: 200px;
  background-color: peru;
  color: white;
  text-align: center;
  font-size: 50px;
  /* 안에 텍스트가 수직/수평 가운데 오게 하기 위해 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background-color: #000;
  /* 남아 있는 공간의 2/3을 가져간다. */
  flex-grow: 2;
}

.child:nth-child(3) {
  /* 남아 있는 공간의 1/3을 가져간다. */
  flex-grow: 1;
}